html {
  height: 100%;
  margin: 0;
  background-color: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #cccccc;

}

.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
  background-color: #efefef;

}

.tr {
  padding: 0;
}